.App {
  text-align: center;
}

body {
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: left;
  height: 30%;
  color: whitesmoke;
  /* width: 100%; */
}

header h1 {
  text-align: center;
  color: rgb(50, 42, 27);
  border: 3px solid rgb(50, 42, 27);
  padding-top: 15px;
  margin-bottom: 120px;
}

.form {
  text-align: center;
  height: 50px;
  color: rgb(50, 42, 27);
}

.form-label {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 620px;
  font-size: 20px;
}

.srch-input {
  height: 20px;
}

.location-cards {
  margin: 75px;
  text-align: center;
  color: rgb(50, 42, 27);
}

.card-text {
  margin: 30px;
  color: rgb(50, 42, 27);
}

#map-and-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.render-map {
  margin-left: 200px;
}

.render-weather {
  border: 3px solid rgb(50, 42, 27);
  margin-right: 70px;
  width: 600px;
}

#weather h2 {
  text-align: center;
}

.card-body {
  padding-bottom: 10px;
}

.explore-btn {
  background-color: #4681f4;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 5px y-offset;
  margin-top: 8px;
  font-size: 15px;
}

Footer {
  margin-top: 50px;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(37, 33, 27);
  height: 30px;
}