.App {
  text-align: center;
}

body {
  /* background-color: #b08941; */
  background-image: url('background-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: left;
  height: 30%;
  color: whitesmoke
}

header h1 {
  text-align: center;
  color: rgb(50, 42, 27);
  border: 3px solid rgb(50, 42, 27);
  width: 350px;
  height: 60px;
  padding-top: 15px;
  margin-left: 540px;
  margin-bottom: 120px;
}

.form {
  text-align: center;
  height: 50px;
}

.form-label {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 620px;
}

.form button {
  margin-top: 8px;
}

.location-cards {
  margin: 75px;
  text-align: center;
  color: whitesmoke
}

.card-text {
  margin: 30px;
}